@model BlogApplication2.Models.EmailFormModel
@{
    ViewData["Title"] = "Kontakt";
    string[] _categoryList = { "Förslag", "Buggar", "Affärsintresse", "Övrigt" };
    string frmCtrlStyle = "max-width: 600px; width: 280px; height: 275px;";
    string userName = User.Identity.Name;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Skicka ett meddelande till oss</h4>
    <hr />

    <div class="form-group">
        <label class="col-md-2 control-label">Ditt namn</label>
        <div class="col-md-10">
            <input asp-for="FromName" class="form-control" />
            <span asp-validation-for="FromName"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Din email</label>
        <div class="col-md-10">
            <input asp-for="FromEmail" class="form-control" />
            <span asp-validation-for="FromEmail"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Kategori</label>
        <div class="col-md-10">
            <select asp-for="Category" id="company" class="form-control">
                @foreach (var item in _categoryList)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <span asp-validation-for="Category"></span>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Ämne</label>
        <div class="col-md-10">
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-2 control-label">Brödtext</label>
        <div class="col-md-10">
            <textarea asp-for="Message" class="form-control" style="@frmCtrlStyle"> </textarea>
            <span asp-validation-for="Message" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Skicka" />
        </div>
    </div>
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Meddelande
                <a asp-action="RedirectTo" asp-route-url="contact">
                    <div type="button" class="close">
                        &times;
                    </div>
                </a>
            </div>
            <div class="modal-body">
                <div class="text-success h4">Meddelandet har skickats! Tack för ditt meddelande.</div>
            </div>
            <div class="modal-footer">
                <a asp-action="RedirectTo" asp-route-url="blog">
                    <div type="button" class="btn btn-default">
                        Gå till bloggen
                    </div>
                </a>
                <a asp-action="RedirectTo" asp-route-url="home">
                    <div type="button" class="btn btn-default">
                        Gå till startsidan
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        if ($(window).width() < 996) {
            $('.col-md-10').css('padding-bottom', '0px');
        }
        else {
            $('.col-md-10').css('padding-bottom', '20px');
        };
    })
    $(window).resize(function () {
        if ($(window).width() < 996) {
            $('.col-md-10').css('padding-bottom', '0px');
        }
        else {
            $('.col-md-10').css('padding-bottom', '20px');
        }
    });
</script>

@if (ViewData["StatusMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal()
        });
    </script>
}
else
{
    return;
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}