@model BlogApplication2.Models.BlogPost

@{
    ViewData["Title"] = "Ta bort";
    string date = Model.PublishDate.ToString("d MMM yyyy");

}

<h2>Ta bort recept</h2>
<div>
    <h4>Du är nu på väg att radera ett inlägg. Denna åtgärd kan inte ångras!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Rubrik
        </dt>
        <dd>
            @Model.HeaderText
        </dd>
        <dt>
            Kategori
        </dt>
        <dd>
            @Model.CategoryName
        </dd>
        <dt>
            Publicerad, datum
        </dt>
        <dd>
            @date
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-default">Avbryt</a>
        </div>
    </form>
</div>
